@model List<Projekt_ASP.Models.Team>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5 mb-3">
    <h1 class="opacityTextHeader" style="margin:0 auto 50px auto; text-align:center;">Your Teams</h1>
    <div class="row">
        @foreach (var team in Model)
        {

            <div class="col-md-4  mb-4">
                <div class="p-3 m-2 card" style="background-color: #172a46;box-shadow: 0px 0px 50px -10px rgba(39, 39, 49, 1);">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="icon m-2"><i style="transform: scale(2); margin: 0 15px 0 auto;" class="fas fa-chalkboard-teacher neonGreen"></i></div>
                            <div class="ms-2 c-details">
                                <h6 class="mb-0 opacityTextHeader"><strong class="neonGreen">@team.Name</strong></h6> <span class="opacityTextHeader neonGreen">Members: @team.Members.Count()</span>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <a class="btn customTeamButton" asp-controller="App" asp-action="TeamPage" asp-route-id="@team.Team_ID">Go to team page</a>
                        <div class="mt-5">
                            <div class="progress">
                                @{

                                    decimal finished = team.Tasks.Where(x => x.finished).Count();
                                    decimal total = team.Tasks.Count();
                                    string progressBarstring;
                                    if (total != 0)
                                    {
                                        decimal test = finished / total * 100;
                                        progressBarstring = Math.Floor(test).ToString() + "%";

                                    }
                                    else
                                    {
                                        progressBarstring = "0%";
                                    }


                                }
                                <div class="progress-bar text-white" role="progressbar" style="width:@progressBarstring"></div>
                            </div>
                            <div class="mt-3"> <span class="text1 opacityTextParagraph">@team.Tasks.Where(x => x.finished).Count().ToString() Finished <span class="text2">of @team.Tasks.Count().ToString() tasks</span></span> </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
    </div>
 


